body {
  padding: 0;
  margin: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: 400;

  background-color: #ffffff;
}

.reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.reset-text {
  margin: 0;
}

.reset-fieldset {
  margin: 0;
  padding: 0;

  border: 0;
}

a {
  text-decoration: none;
}

.main-navigation {
  display: flex;
  flex-direction: column;

  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 500;

  background-color: #eeeeee;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.features-list {
  display: flex;
  justify-content: space-between;

  list-style: none;
}

.features-item {
  width: 300px;
  min-height: 350px;
  margin-right: 100px;

  text-align: center;
}

.features-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.company-info h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.company-list {
  list-style: none;
}

.company-list-title,
.company-table-title {
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.company-table span {
  vertical-align: super;

  font-size: 24px;
  font-weight: 700;
}

.table-row-percents td {
  color: #000000;
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
}

.partners-list {
  display: flex;
  justify-content: space-around;

  list-style: none;
}

.partners-list img {
  opacity: 0.2;
}

.contacts-studio-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.contacts-phone {
  color: inherit;
}

.contacts address {
  font-style: inherit;
}

.main-footer h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.button {
  vertical-align: middle;

  font: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.button-green {
  vertical-align: middle;

  font: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #00ca74;
  border: none;
}

.button-yellow {
  vertical-align: middle;

  font: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #efc84a;
  border: none;
}

.slider-list {
  margin-bottom: 120px;

  list-style: none;
}

.slider-bg {
  width: 100%;

  background-color: #eeeeee;
}

.slider-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.intro-title {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: 500;
  text-align: center;
}

.intro {
  height: 120px;
  width: 100%;

  background-color: #eeeeee;
}

.sort-list,
.filter-features,
.filter-grid {
  list-style: none;
}

.sort-list a,
.sort-priority a {
  color: #000000;

  opacity: 0.3;
}

.button-filter {
  vertical-align: middle;

  font: inherit;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;

  background-color: #eeeeee;
  border: none;
}

.filter-field-price legend,
.filter-field-grid legend,
.filter-field-features legend {
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  list-style: none;
}

.catalog-item h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.catalog-list a {
  color: #000000;
}

.catalog-item p {
  line-height: 18px;
  color: #666666;
}

.catalog-list .catalog-item-price {
  vertical-align: middle;

  font: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.pagination-list {
  display: flex;
  justify-content: center;

  list-style: none;
}

.pagination-list a {
  vertical-align: middle;

  font: inherit;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;

  background-color: #eeeeee;
  border: none;
}

.main-navigation img:hover {
  opacity: 0.8;
}

.main-navigation img:active {
  opacity: 0.3;
}

.site-navigation a:hover {
  color: #fb565a;
}

.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:active {
  color: #cccccc;
}

.user-navigation a:active {
  color: #cccccc;
}

.site-navigation a:focus {
  border-bottom: 2px solid #fb565a;
}

.user-navigation a:focus {
  border-bottom: 2px solid #fb565a;
}

.partners-list img:hover {
  opacity: 1;
}

.partners-list img:active {
  opacity: 0.1;
}

.button-red:hover {
  background-color: #e74246;
}

.button-red:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
}

.button-green:hover {
  background-color: #00bc6c;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #00aa62;
}

.button-yellow:hover {
  background-color: #eab534;
}

.button-yellow:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #e5a722;
}

.button-filter:hover {
  background-color: #dfdfdf;
}

.button-filter:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
}

.pagination-list a:hover {
  background-color: #dfdfdf;
}

.pagination-list a:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
}

.pagination-list a:focus {
  background-color: #ffffff;
  border: 2px solid #dbdbdb;
}

.sort-list a:hover,
.sort-priority a:hover {
  opacity: 0.6;
}

.sort-list a:active,
.sort-priority a:active,
.sort-list a:focus,
.sort-priority a:focus {
  opacity: 1;
}

.catalog-item-title:hover {
  color: #fb565a;
}

.catalog-item-title:active {
  color: #000000;

  opacity: 0.3;
}

.catalog-item-price:hover {
  background-color: #e74246;
}

.catalog-item-price:active {
  background-color: #d7373b;
}

.modal-name input {
  padding: 5px;

  border: 2px solid #d7dcde;
}

.modal-name input:hover {
  border: 2px solid #b4b9bb;
}

.modal-name input:focus {
  border: 2px solid #000000;
}

.modal-email input {
  padding: 5px;

  border: 2px solid #d7dcde;
}

.modal-email input:hover {
  border: 2px solid #b4b9bb;
}

.modal-email input:focus {
  border: 2px solid #000000;
}

.modal-textarea textarea {
  padding: 5px;

  border: 2px solid #d7dcde;
}

.modal-textarea textarea:hover {
  border: 2px solid #b4b9bb;
}

.modal-textarea textarea:focus {
  border: 2px solid #000000;
}

.site-navigation {
  width: 440px;
  min-height: 65px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation {
  width: 120px;
  margin: 0;
  padding: 0;
  min-height: 65px;

  list-style: none;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
  min-height: 65px;

  background-color: #eeeeee;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.features-container {
  display: flex;
}

.company-container {
  display: flex;
  justify-content: space-between;
}

.company-information {
  width: 660px;
  min-height: 400px;
}

.company-addition {
  width: 360px;
  min-height: 400px;
}

.partners-item {
  width: 210px;
  min-height: 100px;
}

.social-item img {
  background-color: #e1e1e1;
}

.social-list {
  display: flex;
  width: 300px;
  min-height: 100px;
}

.footer-discount {
  width: 560px;
  min-height: 100px;

  order: 1;
}

.main-footer {
  margin-top: 70px;
}

.main-footer .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contacts-map {
  width: 1440px;
  margin: 0 auto;
}

.contacts-container {
  width: 320px;
  min-height: 100px;
}

.pagination-item {
  margin-right: 30px;
}

.catalog-main-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
}

.filters-container {
  width: 280px;
  margin-right: 50px;
}

.sort-container {
  width: 770px;
  min-height: 50px;
}

.sort-list,
.sort-priority {
  display: flex;
  width: 280px;
}

.catalog-container {
  width: 770px;
}

.sort-title {
  width: 140px;
}

.sort {
  display: flex;
  justify-content: space-between;
}

.sort-catalog {
  display: flex;
  flex-direction: column;
}

.catalog-item {
  width: 360px;
  margin-right: 42px;
  margin-bottom: 35px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.sort h3 {
  text-transform: uppercase;
}
