body {
  padding: 0;
  margin: 0;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: 400;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-navigation {
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;

  background-color: #eeeeee;
  font-weight: 500;
}

.site-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.features-list {
  list-style: none;
}

.features-item {
  text-align: center;
}

.features-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.company-info h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.company-list {
  list-style: none;
}

.company-list-title,
.company-table-title {
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.company-table span {
  font-size: 24px;
  vertical-align: super;
  font-weight: 700;
}

.table-row-percents td {
  color: #000000;
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
}

.partners-list {
  list-style: none;
}

.partners-item {
  opacity: 0.2;
}

.contacts-studio-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.contacts a {
  color: inherit;
}

.contacts address {
  font-style: inherit;
}

.main-footer h2 {
  font-size: 36px;
  font-height: 36px;
  font-weight: 700;
  color: #000000;
}

main .button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.slider-list {
  list-style: none;
}

.slider-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.intro-title {
  font-size: 55px;
  font-height: 55px;
  color: #000000;
  font-weight: 500;
  text-align: center;
}

.intro {
  height: 200px;
  width: 100%;
  background-color: #eeeeee;
}

.sort-list,
.filter-features,
.filter-grid {
  list-style: none;
}

.button-filter {
  font: inherit;

  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;

  background-color: #eeeeee;
  border: none;
}

.filter-field-price legend,
.filter-field-grid legend,
.filter-field-features legend {
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-list {
  list-style: none;
}

.catalog-item h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.catalog-item a {
  color: #000000;
}

.catalog-item p {
  line-height: 18px;
  color: #666666;
}

.catalog-item a.price {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.pagination-list {
  list-style: none;
}

.pagination-list a {
  font: inherit;

  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;

  background-color: #eeeeee;
  border: none;
}
