body {
  padding: 0;
  margin: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  font-weight: 400;

  background-color: #ffffff;
}

.reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.reset-text {
  margin: 0;
}

.reset-fieldset {
  margin: 0;
  padding: 0;

  border: 0;
}

a {
  text-decoration: none;
}

.main-navigation {
  display: flex;
  padding-top: 48px;

  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 500;

  background-color: #eeeeee;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
}

.features-list {
  display: flex;
}

.features-item {
  width: 300px;
  margin-right: 100px;

  text-align: left;
}

.features-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.company-info {
  width: 680px;
  margin-right: 120px;
}

.company-info h2 {
  margin-bottom: 36px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.company-info .company-info-description {
  margin-bottom: 46px;
}

.company-item {
  margin-bottom: 24px;
}

.company-list-title,
.company-table-title {
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.company-list-title {
  margin-bottom: 24px;
}

.company-additional .company-logo {
  margin-bottom: 38px;
}

.company-table span {
  vertical-align: super;

  font-size: 24px;
  font-weight: 700;
}

.table-row-percents td {
  color: #000000;
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
}

.partners-list {
  display: flex;
  align-items: center;
  padding: 45px 0;
  margin-bottom: 80px;
}

.partners-list img {
  opacity: 0.2;
}

.contacts-studio-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.contacts-phone {
  color: inherit;
}

.contacts address {
  font-style: inherit;
}

.main-footer h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.button {
  vertical-align: middle;

  font: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.button-green {
  vertical-align: middle;

  font: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #00ca74;
  border: none;
}

.button-yellow {
  vertical-align: middle;

  font: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #efc84a;
  border: none;
}

.slider-bg {
  width: 100%;

  background-color: #eeeeee;
}

.slider-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.intro-title {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: 500;
  text-align: center;
}

.intro {
  padding-top: 70px;
  padding-bottom: 116px;
  width: 100%;

  background-color: #eeeeee;
}

.sort-list a,
.sort-priority a {
  color: #000000;

  opacity: 0.3;
}

.button-filter {
  vertical-align: middle;

  font: inherit;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;

  background-color: #eeeeee;
  border: none;
}

.filter-field-price legend,
.filter-field-grid legend,
.filter-field-features legend {
  color: #000000;
  font: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
}

.catalog-item h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.catalog-list a {
  color: #000000;
}

.catalog-item p {
  line-height: 18px;
  color: #666666;
}

.catalog-list .catalog-item-price {
  vertical-align: middle;

  font: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.pagination-list {
  display: flex;
  justify-content: center;
}

.pagination-list a {
  vertical-align: middle;

  font: inherit;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;

  background-color: #eeeeee;
  border: none;
}

.main-navigation img:hover {
  opacity: 0.8;
}

.main-navigation img:active {
  opacity: 0.3;
}

.site-navigation a:hover {
  color: #fb565a;
}

.user-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:active {
  color: #cccccc;
}

.user-navigation a:active {
  color: #cccccc;
}

.site-navigation a:focus {
  border-bottom: 2px solid #fb565a;
}

.user-navigation a:focus {
  border-bottom: 2px solid #fb565a;
}

.partners-list img:hover {
  opacity: 1;
}

.partners-list img:active {
  opacity: 0.1;
}

.button-red:hover {
  background-color: #e74246;
}

.button-red:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #d7373b;
}

.button-green:hover {
  background-color: #00bc6c;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #00aa62;
}

.button-yellow:hover {
  background-color: #eab534;
}

.button-yellow:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #e5a722;
}

.button-filter:hover {
  background-color: #dfdfdf;
}

.button-filter:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
}

.pagination-list a:hover {
  background-color: #dfdfdf;
}

.pagination-list a:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d5d5d5;
}

.pagination-list a:focus {
  background-color: #ffffff;
  border: 2px solid #dbdbdb;
}

.sort-list a:hover,
.sort-priority a:hover {
  opacity: 0.6;
}

.sort-list a:active,
.sort-priority a:active,
.sort-list a:focus,
.sort-priority a:focus {
  opacity: 1;
}

.catalog-item-title:hover {
  color: #fb565a;
}

.catalog-item-title:active {
  color: #000000;

  opacity: 0.3;
}

.catalog-item-price:hover {
  background-color: #e74246;
}

.catalog-item-price:active {
  background-color: #d7373b;
}

.modal-name input {
  padding: 5px;

  border: 2px solid #d7dcde;
}

.modal-name input:hover {
  border: 2px solid #b4b9bb;
}

.modal-name input:focus {
  border: 2px solid #000000;
}

.modal-email input {
  padding: 5px;

  border: 2px solid #d7dcde;
}

.modal-email input:hover {
  border: 2px solid #b4b9bb;
}

.modal-email input:focus {
  border: 2px solid #000000;
}

.modal-textarea textarea {
  padding: 5px;

  border: 2px solid #d7dcde;
}

.modal-textarea textarea:hover {
  border: 2px solid #b4b9bb;
}

.modal-textarea textarea:focus {
  border: 2px solid #000000;
}

.user-navigation {
  width: 120px;
}

.main-header {
  width: 100%;

  background-color: #eeeeee;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  margin-right: 170px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.features-container {
  display: flex;
}

.company {
  display: flex;
  padding-bottom: 80px;
  padding-left: 20px;
}

.company-additional {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
}

.company-additional .company-table-title {
  margin-bottom: 50px;
}

.table-row-description td {
  line-height: normal;
}

.company-table td {
  padding-bottom: 26px;
}

.logo-htmlacademy {
  width: 199px;
  height: 68px;
  margin-left: 31px;
  margin-right: 96px;
}

.logo-barbershop {
  width: 209px;
  height: 90px;
  margin-right: 105px;
}

.logo-pink {
  width: 185px;
  height: 52px;
  margin-right: 121px;
}

.logo-mishka {
  width: 173px;
  height: 84px;
}


.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 140px;
  width: 260px;
  padding-top: 14px;
}

.main-footer .container {
  display: flex;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;

  background-color: #e1e1e1;
}

.footer-discount {
  width: 560px;
  padding-top: 20px;

  order: 1;
}

.footer-discount h2 {
  margin-bottom: 10px;
}

.main-footer {
  padding-top: 70px;
  padding-bottom: 70px;
}

.main-footer .container {
  display: flex;
}

.contacts-map {
  width: 1440px;
  margin: 0 auto;
}

.contacts .contacts-container {
  position: absolute;
  top: 54px;
  left: 140px;
  width: 320px;
  height: 310px;
  background-color: #ffffff;
}

.contacts-container .contacts-studio-name {
  padding-top: 52px;
  padding-left: 48px;
}

.contacts-container address {
  padding-top: 20px;
  padding-left: 50px;
}

.contacts-container .contacts-tel-row {
  padding-top: 10px;
  padding-left: 50px;
  margin-bottom: 44px;
}

.contacts-container .button-contacts {
  padding: 16px 42px;
  margin-left: 48px;
}

.pagination-item {
  margin-right: 30px;
}

.catalog-main-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  margin-top: 60px;
}

.filters-container {
  width: 280px;
  margin-right: 50px;
}

.sort-list {
  display: flex;
  width: 360px;
}

.sort-priority {
  display: flex;
}

.catalog {
  width: 770px;
}

.sort-title {
  width: 140px;
  margin-right: 262px;

  color: #000000;
}

.sort-list li {
  margin-right: 24px;

  text-transform: uppercase;
}

.sort {
  display: flex;
  width: 800px;
  margin-bottom: 56px;
}

.sort-catalog {
  display: flex;
  flex-direction: column;
}

.filter-field-price {
  margin-bottom: 58px;
}

.filter-field-grid {
  margin-bottom: 46px;
}

.filter-field-features {
  margin-bottom: 46px;
}

.filters-container .button-filter {
  padding: 17px 86px;
}

.filter-field-price legend {
  margin-bottom: 56px;
}

.filter-field-grid legend {}

.catalog-item {
  width: 360px;
  margin-right: 42px;
  margin-bottom: 35px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.sort h3 {
  text-transform: uppercase;
}

.site-navigation,
.user-navigation {
  display: flex;
}

.site-navigation li {
  padding: 30px 30px;
}

.user-navigation li {
  padding: 30px 20px;
}

.site-navigation a,
.user-navigation a {
  padding-bottom: 12px;
}

.site-navigation {
  margin-right: 212px;
}

.slider-list {
  display: flex;
}

.features-list a {
  padding: 10px 40px;
}

.features-list {
  margin-top: 80px;
  margin-bottom: 80px;
}

.features-item h3 {
  margin-top: 26px;
  margin-bottom: 30px;
}

.features-item p {
  margin-bottom: 36px;
  width: 260px;
}

.contacts .map-img {
  position: relative;
}
